<% content_for :title, "Отправка писем" %>

<div class="max-w-7xl mx-auto">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold text-gray-900">Отправка писем</h1>
  </div>

  <%= turbo_stream_from "email_deliveries" %>

  <!-- Поиск и фильтры -->
  <div class="bg-white rounded-lg shadow p-4 mb-4">
    <%= search_form_for @search, url: email_deliveries_path, method: :get, html: { class: "flex items-center space-x-2" } do |f| %>
      <%= f.search_field :recipient_email_cont, placeholder: "Email получателя", class: "h-8  px-2 py-1 border rounded" %>
      <%= f.select :status_eq, options_for_select([['Все', ''], ['Ожидает', 'pending'], ['Отправлено', 'sent'], ['Ошибка', 'failed']], params.dig(:q, :status_eq)), {}, { class: "h-8 px-2 py-1 border rounded-md" } %>
      <%= f.select :mailer_class_eq, options_for_select([['Все', ''], ['Уведомления Акты', 'ActMailer'], ['Уведомления Убытки', 'IncaseMailer'], ['Уведомления МойСклад', 'MoyskladNotificationMailer']], params.dig(:q, :mailer_class_eq)), {}, { class: "h-8 px-2 py-1 border rounded-md" } %>
      <%= f.submit "Поиск", class: "h-8 px-3 py-1 bg-gray-200 rounded hover:bg-gray-300"  %>
      <%= link_to email_deliveries_path(search_cancel: true), class: "h-8 px-3 py-1 bg-gray-100 rounded hover:bg-gray-200 flex items-center", title: t("products.index.clear") do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
    <% end %>
  </div>

  <!-- Таблица отправок -->
  <div class="bg-white rounded-lg shadow divide-y">
    <div class="grid grid-cols-[50px_150px_200px_150px_150px_100px_150px] gap-4 p-4 font-medium text-gray-700">
      <div>#</div>
      <div>Получатель</div>
      <div>Email</div>
      <div>Тип</div>
      <div>Статус</div>
      <div>Дата</div>
      <div></div>
    </div>
    <%= turbo_frame_tag "email_deliveries" do %>
      <% if @email_deliveries.any? %>
        <% @email_deliveries.each do |email_delivery| %>
          <%= render email_delivery %>
        <% end %>
      <% else %>
        <div class="p-8 text-center text-gray-500">
          <p>Нет записей об отправке писем</p>
        </div>
      <% end %>
    <% end %>
    <%= render "shared/paginate", f: @email_deliveries %>
  </div>
</div>

