<%= turbo_frame_tag dom_id(okrug), class: "grid grid-cols-[50px_1fr_150px] gap-4 p-4 border-t hover:bg-gray-50" do %>
  <div><%= okrug.id %></div>
  <div>
    <%= link_to okrug.title, edit_okrug_path(okrug), class: "text-blue-600 hover:text-blue-800", data: {  turbo_frame: 'offcanvas', turbo_prefetch: false} %>
  </div>
  <div class="flex justify-end space-x-2">
    <%= link_to_edit edit_okrug_path(okrug), data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_delete okrug_path(okrug), data: { turbo_method: :delete, turbo_confirm: t('actions.delete') } %>
  </div>
<% end %>

