<%= turbo_frame_tag dom_id(detal), class: "grid grid-cols-[30px_40px_80px_140px_1fr_100px_50px_120px] gap-2 px-3 py-2 border-b hover:bg-gray-50 items-center" do %>
  <div>
    <%= check_box_tag "detal_ids[]", detal.id, false, {
      class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500', 
      data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, 
      form: :bulk_action_form 
    } %>
  </div>
  <div><%= detal.id %></div>
  <div>
    <% if detal.status? %>
      <span class="px-2 py-1 text-xs font-medium rounded bg-green-100 text-green-800"><%= t("detals.index.status_active") %></span>
    <% else %>
      <span class="px-2 py-1 text-xs font-medium rounded bg-gray-100 text-gray-800"><%= t("detals.index.status_inactive") %></span>
    <% end %>
  </div>
  <div><%= detal.sku %></div>
  <div><%= detal.title %></div>
  <div class="flex items-center gap-2">
    <span><%= detal.oszz_price %></span>
    <%= link_to get_oszz_detal_path(detal), 
        class: "p-1 rounded-md bg-blue-50 hover:bg-blue-100 flex items-center justify-center",
        title: t("detals.index.get_oszz"),
        data: { turbo_stream: true , turbo_prefetch: false } do %>
      <svg class="h-4 w-4 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
    <% end %>
  </div>
  <div><%= detal.variants.count %></div>
  <div class="flex justify-end space-x-2">
    <%= link_to_edit edit_detal_path(detal), data: {turbo: false } %>
    <%= link_to_delete detal_path(detal), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
