<%= turbo_frame_tag user, class: "flex items-center justify-between p-4 bg-white border border-gray-200 rounded-lg hover:bg-gray-50 transition duration-150 ease-in-out" do %>
  <div class="flex-1">
    <div class="flex items-center space-x-4">
      <div class="flex-1 min-w-0">
        <div class="text-sm font-medium text-gray-900">
          <%= user.name %> <%= user.surname %> <%= user.email_address %>
        </div>
        <div class="mt-1 flex items-center space-x-2">
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium <%= user.admin? ? 'bg-violet-100 text-violet-800' : 'bg-gray-100 text-gray-800' %>">
            <%= user.role.humanize %>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex items-center space-x-2">
    <% if Current.user&.admin? %>
      <%= link_to edit_user_path(user), data: { turbo_frame: :offcanvas } %>
      <%= link_to_delete user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

