<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t('.heading') %></h1>
  <div class="flex space-x-2">
    <%= search_form_for @search, url: clients_path, method: :get, html: { class: "flex items-center space-x-2" } do |f| %>
      <%= f.label :name_or_surname_or_email_cont, t('.search'), class: "sr-only" %>
      <%= f.search_field :name_or_surname_or_email_cont, value: params.dig(:q, :name_or_surname_or_email_cont), placeholder: t('.search'), class: "px-2 py-1 border rounded", style: "width: 350px;" %>
      <%= f.submit t('.search'), class: "px-3 py-1 bg-gray-200 rounded hover:bg-gray-300" %>
      <%= link_to clients_path, class: "px-3 py-1 bg-gray-100 rounded hover:bg-gray-200 flex items-center", title: t('.clear') do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
    <% end %>
  </div>

  <div class="flex space-x-2 items-center">    
    <%= form_with url: clients_path, method: :post, id: :bulk_action_form, local: false do |f| %>
      <%= render 'shared/download_excel_buttons', f: f, object: Client.new %>
      <%= render 'shared/bulk_delete_buttons', f: f, object: Client.new %>
    <% end %>
    
    <%= link_to t('.new'), new_client_path, class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700", data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
  </div>
</div>

<%= turbo_stream_from "clients" %>

<div class="bg-white rounded-lg shadow divide-y" data-controller="selectall">
  <div class="grid grid-cols-[30px_80px_1fr_1fr_1fr_200px_150px] gap-2 px-3 py-4 font-medium text-gray-700">
    <div>
      <%= check_box_tag "select_all", "1", false, {
        class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500',
        id: 'select_all_checkbox',
        data: { 
          'selectall_target': 'parentCheckbox',
          action: "change->selectall#toggleAll"
        },
        form: :bulk_action_form
      } %>
    </div>
    <div>#</div>
    <div><%= t('activerecord.attributes.client.surname') %></div>
    <div><%= t('activerecord.attributes.client.name') %></div>
    <div><%= t('activerecord.attributes.client.middlename') %></div>
    <div><%= t('activerecord.attributes.client.email') %></div>
    <div></div>
  </div>
  <%= turbo_stream_from "clients" %>
  <%= turbo_frame_tag "clients" do %>
    <%= render @clients %>
    <%= render "shared/paginate", f: @clients %>
  <% end %>
</div>

