<%
  incase = local_assigns[:incase] || @incase
  is_admin = defined?(Current) && Current.user&.admin?
%>
<%= turbo_frame_tag dom_id(incase, dom_id(comment)), class: "" do %>
  <div class="grid grid-cols-[200px_200px_1fr_40px] gap-2 p-2 text-sm text-gray-600">
    <%=tag.span comment.created_at.strftime('%d.%m.%Y %H:%M'), class: 'font-medium'%>
    <%=tag.span comment.user.email_address, class: 'font-medium'%>
    <%=tag.span comment.body, class: 'font-medium text-gray-900'%>
    <div class="flex justify-end">
      <%= link_to_delete incase_comment_path(incase, comment), 
          data: { turbo_method: :delete, turbo_confirm: t("actions.delete") } if is_admin %>
    </div>
  </div>
<% end %>
