<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t('.heading') %></h1>
  <div class="flex space-x-2">
    <%= link_to t('.new'), new_incase_tip_path, 
        class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700",
        data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
  </div>
</div>
<%= turbo_stream_from "incase_tips" %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[50px_1fr_100px_200px] gap-4 p-4 font-medium text-gray-700">
    <div>#</div>
    <div><%= t('activerecord.attributes.incase_tip.title') %></div>
    <div><%= t('activerecord.attributes.incase_tip.color') %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag "incase_tips" do %>
    <%= render @incase_tips %>
  <% end %>
</div>