<%= turbo_frame_tag dom_id(product, dom_id(variant)), class: "grid grid-cols-[50px_200px_1fr_140px_140px_125px] gap-2 py-2 border-t hover:bg-gray-50" do %>
  <div><%= variant.id %></div>
  <div class="flex flex-col">
    <div class="text-sm">sku: <%= variant.sku %></div>
    <div class="text-sm"><%= variant.barcode %></div>
  </div>
  <div><%= variant.quantity %></div>
  <div><%= variant.cost_price %></div>
  <div><%# variant.price %><%= render 'products/inline/price', product: product, variant: variant %></div>
  <div class="flex justify-end space-x-1">
    <%= link_to_print_barcode print_etiketka_product_variant_path(product, variant) %>
    <%= link_to_varbind product_variant_path(product, variant), 
        data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_edit edit_product_variant_path(product, variant), 
        data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_delete product_variant_path(product, variant), 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>