<%= turbo_frame_tag dom_id(product, dom_id(variant)), class: "grid grid-cols-[50px_100px_140px_1fr_1fr_1fr_125px] gap-2 py-2 border-t hover:bg-gray-50" do %>
  <div><%= variant.id %></div>
  <div><%= variant.sku %></div>
  <div><%= variant.barcode %></div>
  <div><%= variant.quantity %></div>
  <div><%= variant.cost_price %></div>
  <div><%= variant.price %></div>
  <div class="flex justify-end space-x-1">
    <%= link_to barcode_icon, print_etiketka_product_variant_path(product, variant), 
        target: "_blank",
        class: "p-2 rounded-md bg-gray-50 hover:bg-gray-100 flex items-center justify-center",
        title: t('print_barcode') %>
    <%= link_to_varbind product_variant_path(product, variant), 
        data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_edit edit_product_variant_path(product, variant), 
        data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_delete product_variant_path(product, variant), 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>