<% content_for :title, t(".title") %>

<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t(".heading") %></h1>
  <div class="flex space-x-2">
    <%= link_to t(".new"), new_shift_code_path,
        class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700",
        data: { turbo_frame: "offcanvas", turbo_prefetch: false } %>
  </div>
</div>
<%= turbo_stream_from "shift_codes" %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[50px_1fr_80px_100px_56px_56px_200px] gap-4 p-4 font-medium text-gray-700">
    <div>#</div>
    <div><%= ShiftCode.human_attribute_name(:label) %></div>
    <div><%= ShiftCode.human_attribute_name(:code) %></div>
    <div><%= ShiftCode.human_attribute_name(:color) %></div>
    <div class="text-center"><%= ShiftCode.human_attribute_name(:vacation) %></div>
    <div class="text-center"><%= ShiftCode.human_attribute_name(:day_off) %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag "shift_codes" do %>
    <% if @shift_codes.empty? %>
      <p id="shift_codes_empty_placeholder" class="p-4 text-center text-gray-500 text-sm border-t"><%= t(".empty") %></p>
    <% else %>
      <%= render @shift_codes %>
    <% end %>
  <% end %>
</div>
