<%= turbo_frame_tag dom_id(product), class: "grid grid-cols-[30px_40px_80px_80px_1fr_120px_120px] gap-2 px-3 py-2 border-b hover:bg-gray-50 items-center" do %>
  <div>
    <%= check_box_tag "product_ids[]", product.id, false, {
      class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500', 
      data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, 
      form: :bulk_action_form 
    } %>
  </div>
  <div><%= product.id %></div>
  <div>
    <% if product.images.first&.file&.attached? %>
      <%= image_tag product.images.first.file, alt: product.title, class: "w-16 h-16 object-cover rounded" %>
    <% else %>
      <div class="w-16 h-16 bg-gray-200 rounded flex items-center justify-center text-gray-400 text-xs">No image</div>
    <% end %>
  </div>
  <div><%= product.status %></div>
  <div>
    <%= link_to product.title, edit_product_path(product), class: "text-blue-600 hover:text-blue-800", data: {turbo: false } %>
  </div>
  <div><%= product.variants&.first&.price %></div>
  <div class="flex justify-end space-x-2">
    <%= link_to_delete product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>