<% content_for :title, "Ред товар ##{@product.id}" %>
<div class="max-w-1xl mx-auto">
  <div class="flex items-center mb-4 space-x-4">
    <%= link_to_back products_path %>
    <h1 class="text-2xl font-semibold"><%= t("products.edit.heading") %></h1>
    <%= link_to t("products.refill"), refill_product_path(@product), 
      class: "ml-auto inline-flex items-center px-3 py-1 border border-violet-500 text-sm font-medium text-violet-600 bg-white hover:bg-violet-50 hover:text-violet-700 rounded-md cursor-pointer transition", 
      data: { turbo_stream: true, turbo_confirm: "ВНИМАНИЕ! Это действие заполнит продукт данными из Detal и удалит все данные, кроме изображений. Вы уверены?"  } %>
    <%= link_to_history(auditable_type: "product", auditable_id: @product.id) unless @product.new_record? %>
    <div class="ml-1 flex gap-1">
      <% if @product.has_moysklad_binding? %>
        <span class="inline-flex items-center px-1.5 py-0.5 rounded text-xs font-medium bg-blue-100 text-blue-800">МС</span>
      <% end %>
      <% if @product.has_insale_binding? %>
        <span class="inline-flex items-center px-1.5 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800">InS</span>
      <% end %>
    </div>
  </div>
  <%= render "form", product: @product %>
</div>
