<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t("products.index.heading") %> <small class="text-sm text-gray-500"><%= @products.count %></small></h1>
  <div class="flex space-x-2">
    <%= search_form_for @search, url: products_path, method: :get, html: { class: "flex items-center space-x-2" } do |f| %>
      <%= f.label :title_or_variants_sku_cont, t("products.index.search_by_title_sku"), class: "sr-only" %>
      <%= f.search_field :title_or_variants_sku_or_variants_barcode_cont, value: params.dig(:q, :title_or_variants_sku_or_variants_barcode_cont), placeholder: t("products.index.search_by_title_sku"), class: "h-8 px-2 py-1 border rounded", style: "width: 350px;" %>
      <%= f.submit t("products.index.search"), class: "h-8 px-3 py-1 bg-gray-200 rounded hover:bg-gray-300" %>
      <%= link_to products_path(search_cancel: true), class: "h-8 px-3 py-1 bg-gray-100 rounded hover:bg-gray-200 flex items-center", title: t("products.index.clear") do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
    <% end %>
  </div>

  <div class="flex space-x-2">
    <%= form_with url: products_path, method: :post, id: :bulk_action_form, local: false do |f| %>
      <!-- Price Update Button -->
      <%= f.button type: :submit, 
          class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700",
          id: 'price-update', 
          formaction: price_edit_products_path,
          data: { turbo_frame: 'offcanvas', turbo_prefetch: false } do %>
        <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4" />
        </svg>
        <%= t("products.form.price_update") %>
      <% end %>
      
      <!-- Download Excel Buttons -->
      <%= render 'shared/download_excel_buttons', f: f, object: Product.new %>
      
      <!-- Bulk Delete Buttons -->
      <%= render 'shared/bulk_delete_buttons', f: f, object: Product.new %>
    <% end %>
    <%= link_to t('.filter'), filter_products_path, class: "inline-flex items-center px-3 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700", data: { turbo_frame: 'offcanvas' } %>
    <%= link_to t("products.index.new"), new_product_path, class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
</div>

<%= turbo_stream_from "products" %>

<div class="bg-white rounded-lg shadow divide-y" data-controller="selectall">
  <div class="grid grid-cols-[30px_80px_80px_80px_1fr_100px_85px_120px] gap-2 px-3 py-4 font-medium text-gray-700">
    <div>
      <%= check_box_tag "select_all", "1", false, {
        class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500',
        id: 'select_all_checkbox',
        data: { 
          'selectall_target': 'parentCheckbox',
          action: "change->selectall#toggleAll"
        },
        form: :bulk_action_form
      } %>
    </div>
    <div></div>
    <div></div>
    <div><%= t("products.index.status") %></div>
    <div><%= t("products.index.title_label") %></div>
    <div><%= sort_link(@search, :variants_price, t('products.index.price'), default_order: :desc, data: { turbo_prefetch: false }) %></div>
    <div><%= sort_link(@search, :variants_quantity, t('products.index.quantity'), default_order: :desc, data: { turbo_prefetch: false }) %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag "products" do %>
    <%= render @products %>
    <%= render "shared/paginate", f: @products %>
  <% end %>
</div>