<%= turbo_frame_tag dom_id(incase), class: "grid grid-cols-[40px_85px_85px_220px_160px_100px_120px_110px_110px_30px_70px] gap-1 px-2 py-2 border-b hover:bg-gray-50 items-center" do %>
  <div class="flex flex-col">
    <%= check_box_tag "incase_ids[]", incase.id, false, {
      class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500', 
      data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, 
      form: :bulk_action_form 
    } %>
    <div class="text-sm text-gray-600"><%= incase.id %></div>
  </div>
  <div>
    <% if incase.incase_status.present? %>
      <span class="px-1 py-1 text-xs font-medium rounded text-gray-600" style="border: 1px solid <%= incase.incase_status.color %>;">
        <%= incase.incase_status.title %>
      </span>
    <% end %>
  </div>
  <div>
    <% if incase.incase_tip.present? %>
      <span class="px-1 py-1 text-xs font-medium rounded text-gray-600" style='border: 1px solid <%= incase.incase_tip.color %>;'>  
        <%= incase.incase_tip.title %>
      </span>
    <% end %>
  </div>
  <div class="flex flex-col">
    <span class="text-sm text-black-900"><%= link_to incase.unumber, edit_incase_path(incase), class: "text-blue-600 hover:text-blue-800", data: { turbo: false } %></span>
    <span class="text-sm text-gray-600"><%= incase.strah&.short_title %></span>
  </div>
  <div class="text-sm text-gray-600"><%= incase.company&.short_title %></div>
  <div class="text-sm text-gray-600"><%= incase.company&.okrug&.title %></div>
  <div class="flex flex-col">
    <span class="text-sm text-gray-600"><%= incase.modelauto %></span>
    <span class="text-sm text-gray-600"><%= incase.carnumber %></span> 
  </div>
  <div class="text-sm text-gray-600"><%= number_to_currency(incase.totalsum, unit: '', delimiter: ' ', precision: 2) if incase.totalsum.present? %></div>
  <div class="text-sm text-gray-600"><%= incase.date&.strftime('%d.%m.%Y') %></div>
  <div class="flex items-center justify-center">
    <% title = incase.sendstatus == true ? "Отправлено" : "Отправить письмо" %>
    <%= button_to send_email_incase_path(incase), method: :post, title: title,
        class: "text-blue-600 hover:text-blue-800 cursor-pointer",
        data: { turbo_confirm: 'Отправить письмо контрагенту?', turbo_method: :post } do %>
      <% if incase.sendstatus == true %>
        <svg class="w-5 h-5 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" title="Отправлено">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      <% else %>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-end space-x-2">
    <%= link_to_sync calc_incase_path(incase), title: "Рассчитать цены позициям", data: {turbo_stream: true, turbo_prefetch: false} %>
    <%= link_to_delete incase_path(incase), data: { turbo_method: :delete, turbo_confirm: t('actions.delete') } %>
  </div>
<% end %>