<div class="bg-white w-full min-w-0" data-action="itemSumChanged@window->totalsum-calculator#updateTotal">
  <div class="mb-2 flex items-center justify-between">
    <legend class="text-sm font-medium text-gray-700"><%= t('items.heading') %><span class="text-xs text-gray-500 ms-2"><%= incase.items.count %></span></legend>
    <% path = incase.new_record? ? new_item_path(incase_id: nil) : new_incase_item_path(incase) %>
    <%= link_to t('items.new.title'), path, data: { turbo_stream: true },
        class: "px-3 py-1 rounded-md bg-blue-300 hover:bg-blue-400" %>
  </div>

  <div class="w-full min-w-0 px-0" data-controller="choose">
    <div class="grid grid-cols-[1fr_30px_30px_150px_140px_140px_70px_60px_90px_90px_40px] gap-1 py-1 border-t hover:bg-gray-50 font-sm text-gray-700">
      <div><%= t('activerecord.attributes.item.title') %></div>
      <div></div>
      <div></div>
      <div><%= t('activerecord.attributes.item.katnumber') %></div>
      <div><%= t('activerecord.attributes.item.supplier_code') %></div>
      <div>
        <%= select_tag "incase_item_status_label", 
            options_from_collection_for_select(ItemStatus.order(:id), "id", "title"), 
            { prompt: t('activerecord.attributes.item.item_status_id'),
              class: "px-2 ps-1 py-1 border rounded-md text-sm w-full", 
              data: {
                action: "change->choose#changeBulkItemStatus", 
                choose_target: "itemSelected" 
              } } %>
      </div>
      <div>Дата</div>
      <div><%= t('activerecord.attributes.item.quantity') %></div>
      <div><%= t('activerecord.attributes.item.price') %></div>
      <div><%= t('activerecord.attributes.item.sum') %></div>
      <div></div>
    </div>
    
    <div id="items">
      <% incase.items.each do |item| %>  
        <%= render "items/item", item: item, incase: incase %>
      <% end %>
    </div>
  </div>
</div>

