<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t(".heading") %> <small class="text-sm text-gray-500"><%= @incases.count %></small></h1>

  <div class="flex space-x-2 items-center">    
    <%= form_with url: incases_path, method: :post, id: :bulk_action_form, local: false do |f| %>
      <%= render 'shared/download_excel_buttons', f: f, object: Incase.new %>
      <%= render 'shared/bulk_delete_buttons', f: f, object: Incase.new %>
    <% end %>
    
    <%# link_to t('.filter'), filter_incases_path, class: "inline-flex items-center px-3 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700", data: { turbo_frame: 'offcanvas' } %>
    <%= link_to t('.new'), new_incase_path, class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
</div>

<%= search_form_for @search, url: incases_path, method: :get, html: { class: "flex items-center space-x-2 flex-wrap  mb-4" } do |f| %>
  <%= f.search_field :unumber_or_company_title_or_items_barcode_or_carnumber_cont, value: params.dig(:q, :unumber_or_company_title_or_items_barcode_or_carnumber_cont), placeholder: t('.incases_search'), class: "h-8 px-2 py-1 border border-gray-300 rounded mb-3 ", style: "width: 500px;" %>
  <%= f.collection_select :incase_status_id_eq, IncaseStatus.all, :id, :title, 
      { include_blank: false, prompt: t('activerecord.attributes.incase.incase_status_id') }, 
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md w-75" } %>
  <%= f.collection_select :incase_tip_id_eq, IncaseTip.all, :id, :title, 
      { include_blank: false, prompt: t('activerecord.attributes.incase.incase_tip_id') }, 
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md" } %>
  <%= f.collection_select :strah_id_eq, Company.strah.limit(20), :id, :short_title, 
      { include_blank: false, prompt: t('activerecord.attributes.incase.strah_id') }, 
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md" } %>
  <div>
    <%= f.label :date_gteq, "Дата от", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.date_field :date_gteq, class: "h-8 px-2 py-1 mb-4 border border-gray-300 rounded-md" %>
  </div>
  <div>
    <%= f.label :date_lteq, "Дата до", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.date_field :date_lteq, class: "h-8 px-2 py-1 mb-4 border border-gray-300 rounded-md" %>
  </div>
  <%= f.submit t('.search'), class: "h-8 px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 mb-3 mt-5" %>
  <%= link_to incases_path(search_cancel: true), class: "h-8 px-3 py-1 bg-gray-100 rounded hover:bg-gray-200 flex items-center mb-3 mt-5", title: t('.clear') do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  <% end %>
<% end %>

<%= turbo_stream_from "incases" %>

<div class="bg-white rounded-lg shadow divide-y" data-controller="selectall">
  <div class="grid grid-cols-[40px_95px_95px_170px_160px_100px_120px_120px_150px_40px] gap-2 px-3 py-4 font-medium text-gray-700">
    <div>
      <%= check_box_tag "select_all", "1", false, {
        class: 'checkboxes w-4 h-4 text-violet-600 border-gray-300 rounded focus:ring-violet-500',
        id: 'select_all_checkbox',
        data: { 
          'selectall_target': 'parentCheckbox',
          action: "change->selectall#toggleAll"
        },
        form: :bulk_action_form
      } %>
    </div>
    <div><%= t('activerecord.attributes.incase.incase_status_id') %></div>
    <div><%= t('activerecord.attributes.incase.incase_tip_id') %></div>
    <div><%= t('incases.index.ubitok') %></div>
    <div><%= t('activerecord.attributes.incase.company_id') %></div>
    <div><%= t('activerecord.attributes.incase.okrug') %></div>
    <div><%= t('activerecord.attributes.incase.auto') %></div>
    <div><%= sort_link(@search, :totalsum, t('activerecord.attributes.incase.totalsum')) %></div>
    <div>
      <%= sort_link(@search, :date, t('activerecord.attributes.incase.date')) %>
    </div>
    <div></div>
  </div>
  <%= turbo_frame_tag "incases" do %>
    <%= render @incases %>
    <%= render "shared/paginate", f: @incases %>
  <% end %>
</div>