<%= turbo_frame_tag dom_id(act), class: "grid grid-cols-[40px_100px_100px_150px_150px_150px_100px_50px_200px] gap-4 p-4 border-t hover:bg-gray-50 items-center" do %>
  <div><%= act.id %></div>
  <div class="text-sm text-gray-600"><%=link_to "Акт № #{act.number}", act_path(act), class: "text-blue-600 hover:text-blue-800 cursor-pointer", data: { turbo: false } %></div>
  <div class="text-sm text-gray-600"><%= act.date&.strftime('%d.%m.%Y %H:%M') %></div>
  <div class="text-sm text-gray-600"><%= act.okrug&.title %></div>
  <div class="text-sm text-gray-600"><%= act.company&.short_title %></div>
  <div class="text-sm text-gray-600"><%= act.strah&.short_title %></div>
  <div>
    <span class="px-2 py-1 text-xs font-medium rounded" style="background-color: #f3f4f6; color: #6b7280;">
      <%= t("enums.act.status.#{act.status}") %>
    </span>
  </div>
  <div class="text-sm text-gray-600"><%= act.items.count %></div>
  <div class="flex justify-end space-x-2">
    <%= link_to_edit act_path(act), data: { turbo: false } %>
    <%= link_to "PDF", print_act_path(act, format: :pdf), class: "px-2 py-1 rounded-md border border-blue-300 hover:bg-violet-200", target: '_blank' %>
    <%= link_to_print_barcode print_etiketkas_act_path(act, format: :pdf) %>
    <%= link_to_delete act_path(act), data: { turbo_method: :delete, turbo_confirm: t('actions.delete') } %>
  </div>
<% end %>

