<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t('.heading') %></h1>
  <div class="flex space-x-2 items-center">
    <%= link_to t('.new'), new_act_path, class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700", data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
  </div>
</div>

<%= search_form_for @search, url: acts_path, method: :get, html: { class: "flex items-center space-x-2 flex-wrap  mb-4" } do |f| %>
  <%= f.search_field :number_eq, value: params.dig(:q, :number_eq),
      placeholder: t('activerecord.attributes.act.number'), class: "h-8 px-2 py-1 border border-gray-300 rounded mb-3 ", style: "max-width: 150px;" %>
  <%= f.search_field :items_title_or_items_variant_barcode_or_incases_carnumber_cont,  placeholder: t('.acts_search'),
      value: params.dig(:q, :items_title_or_items_variant_barcode_or_incases_carnumber_cont),
      class: "h-8 px-2 py-1 border border-gray-300 rounded mb-3 ", style: "min-width: 300px;" %>
  <%= f.search_field :company_title_cont, value: params.dig(:q, :company_title_cont), placeholder: t('activerecord.attributes.act.company_id'),
      class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md", style: "max-width: 200px;" %>
  <%= f.collection_select :status_eq,
      Act.statuses.keys.map { |k| [t("enums.act.status.#{k}"), k] },
      :last, :first,
      { include_blank: false, prompt: t('activerecord.attributes.act.status') },
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md", style: "max-width: 200px;" } %>
  <%= f.collection_select :okrug_id_eq, Okrug.all, :id, :title,
      { include_blank: false, prompt: t('activerecord.attributes.act.okrug_id') },
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md", style: "max-width: 200px;" } %>
  <%= f.collection_select :strah_id_eq, Company.strah.limit(20), :id, :short_title, 
      { include_blank: false, prompt: t('activerecord.attributes.act.strah_id') }, 
      { class: "h-8 px-2 py-1 mb-3 border border-gray-300 rounded-md", style: "max-width: 200px;" } %>
  <div>
    <%= f.label :date_gteq, "Дата от", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.date_field :date_gteq, class: "h-8 px-2 py-1 mb-4 border border-gray-300 rounded-md" %>
  </div>
  <div>
    <%= f.label :date_lteq, "Дата до", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.date_field :date_lteq, class: "h-8 px-2 py-1 mb-4 border border-gray-300 rounded-md" %>
  </div>
  <%= f.submit t('.search'), class: "h-8 px-2 py-1 bg-gray-200 rounded hover:bg-gray-300 mb-3 mt-5" %>
  <%= link_to acts_path(search_cancel: true), class: "h-8 px-2 py-1 bg-gray-100 rounded hover:bg-gray-200 flex items-center mb-3 mt-5", title: t('.clear') do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  <% end %>
<% end %>

<%= turbo_stream_from "acts" %>

<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[40px_100px_100px_150px_150px_150px_100px_50px_200px] gap-4 p-4 font-medium text-gray-700">
    <div>#</div>
    <div><%= t('activerecord.attributes.act.number') %></div>
    <div><%= t('activerecord.attributes.act.date') %></div>
    <div><%= t('activerecord.attributes.act.okrug_id') %></div>
    <div><%= t('activerecord.attributes.act.company_id') %></div>
    <div><%= t('activerecord.attributes.act.strah_id') %></div>
    <div><%= t('activerecord.attributes.act.status') %></div>
    <div><%= t('activerecord.attributes.act.item_quantity') %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag "acts" do %>
    <%= render @acts %>
  <% end %>
  <%= render "shared/paginate", f: @acts %>
</div>

